# Complete Python
## 1.Print function

In [1]:
print("Hello world")
print("hello","how","are","you")
print("hello","how","are","you",sep='/')
print("hello",end='-')
print("world")

Hello world
hello how are you
hello/how/are/you
hello-world

### Python support 3 kinds of Data types
##### 1- Basic Types (Integer,Float,String,Complex,Boolean)
##### 2- Container Types (List,Tuple,Dictionary,Sets)
##### 3- User-Defined Types (Class)

In [2]:
# 1-
print(5)         # Integer
print(5.5)       # Float
print(1.7e30) 
print(True)      # Boolean
print("hello")   # String
print(4+5j)      # Complex

5
5.5
1.7e+30
True
hello
(4+5j)

In [15]:
#2-
print([1,2,3,4])  # List
print((1,2,3,4))  # Tuple
print({1,2,3})    # Set
print({'name':'doctor','age':21})    # Dictionary

[1, 2, 3, 4]
(1, 2, 3, 4)
{1, 2, 3}
{'name': 'doctor', 'age': 21}

# Variables

In [4]:
# Dynamic typing
# No variable Declaration
# Dynamic Binding

name = "doctor"
print(name)

# Special Syntax
a=4;b=5;c=4
print(a)
print(b)
print(c)

a,b,c=3,2,5
print(a)
print(b)
print(c)

a=b=c=5
print(a)
print(b)
print(c)

doctor
4
5
4
3
2
5
5
5
5

# Keywords and Identifiers

In [5]:
# In python there is 33 keywords

import keyword
print(keyword.kwlist)

# Identifiers rules
# 1- can only start with alphabet or _
# 2- Followed by 0 or more letters _ and digits
# 3- Keywords cannot be used as identifiers

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Input

In [6]:
# Type of input that you taking from user is always string.

first_num = input("Enter first number")
second_num = input("Enter second number")
print(first_num)
print(second_num)

Enter first number 3
Enter second number 2

3
2

# Type Conversion

In [17]:
# Implicit
# Explicit

# Implicit eg    # In implicit python automaticaly convert type.
print(3+(4+5j))

# Explicit eg    # We performe type conversion in this.
print(int('455'))
print(float(4))
print(complex(5))
print(list("hello"))

# Type conversion is not a permanent conversion
a = 34
print(float(a))
print(a)

(7+5j)
455
4.0
(5+0j)
['h', 'e', 'l', 'l', 'o']
34.0
34

# Operators

In [8]:
# Arithmatic operators

x,y = 5,2
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x/y)

# integer division
print(x//y)
print(x ** y)

7
3
10
1
2.5
2
25

In [9]:
# Comparison operators

x,y=5,2
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

False
True
False
True
False
True

In [10]:
# Logical operators

x,y = True,False
print(x or y)
print(x and y)
print(not x)

True
False
False

In [11]:
# Assignment operators

a = 4
print(a)
a += 3
a -=2
a *= 4

4

In [12]:
# Membership operator

a = "hello"
print('h' in a)
print('h' not in a)
l = [1,3,4]
print(5 in l)

True
False
False

# If-Else Statement

In [13]:
email = input("Write your Email:")
if '@' in email:
    password = input("Write your Password:")
    if email=="rehmanali332@gmail.com" and password=="1234":
        print("Welcome")
    elif email=="rehmanali332@gmail.com" and password!="1234":
        print("Your password is wrong")
        password = input("Write your password again:")
        if password=="1234":
            print("Finally your password is correct")
        else:
            print("Still incorrect")
    else:
        print("Incorrect credentials")
else:
    print("Your email is wrong")

Write your Email: rehmanali332@gmail.com
Write your Password: 22

Your password is wrong

Write your password again: 1234

Finally your password is correct

# While Loop

In [14]:
number = int(input("Enter a number"))
i = 1
while i<11:
    print(number,'*',i,'=',number*i)
    i+=1

Enter a number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Guessing game

In [15]:
import random

jackpot = random.randint(1,100)
guess = int(input("Guess a number:"))
count = 1
while guess != jackpot:
    if guess<jackpot:
        print("guess higher")
    else:
        print("guess lower")
    guess = int(input("Guess a number:"))
    count = count+1
print("You guess a correct number")
print("Total number of guesses is:", count)

Guess a number: 45

guess lower

Guess a number: 34

guess lower

Guess a number: 22

guess lower

Guess a number: 11

guess lower

Guess a number: 7

guess lower

Guess a number: 5

guess higher

Guess a number: 6

You guess a correct number
Total number of guesses is: 7

# For Loop

In [16]:
# If you know how many number of times a loop will work than you use for loop and if you don't know than you use while loop.
# range

print(list(range(1,11)))
print(list(range(1,11,2)))
print(list(range(10,0,-1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
for i in range(1,11):
    print(i)
for i in range(10,0,-1):
    print(i)
for i in "punjab":
    print(i)
for i in [1,2,4,4]:
    print(i)

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
p
u
n
j
a
b
1
2
4
4

# Nested Loop

In [22]:
number = int(input('Enter a Number:'))

for i in range(1,number+1):
    for j in range(0,i):
        print("*",end=" ")
    print('')

Enter a Number: 3

*
* *
* * *

# Break, Continue, Pass

In [19]:
# Break

for i in range(1,11):
    if i==5:
        break
    print(i)
    
# Continue
for i in range(1,11):
    if i==5:
        continue
    print(i)
    print("hello")
    
# Pass
for i in range(1,11):
    pass

1
2
3
4
1
hello
2
hello
3
hello
4
hello
6
hello
7
hello
8
hello
9
hello
10
hello

# Built in Functions

In [20]:
# 1-Print
print("hello")

# 2-Input
input("Enter your name:")

# 3-Type
a=3.5
type(a)

# 4-Type conversion
print(int(5.6))
print(float(5))

# 5-absolute
print(abs(-4))

# 6-Power
print(pow(2,3))

# 7-min/max
print(min([2,5,6,0,8,6]))
print(max('hellog'))

# 8-round
c=22/7
print(c)
print(round(c,3))

# 9-divmod
print(divmod(5,2))

# 10-hexadicimal,decimal value
print(bin(2))
print(hex(4))

# 11-id
b=5
print(id(b))

# 12-ord
print(ord('A'))

# 13-len
print(len("lahore"))

# 14-sum
print(sum([4,5,7,8]))

# 15-help
print(help('print'))

hello

Enter your name: c

5
5.0
4
8
0
o
3.142857142857143
3.143
(2, 1)
0b10
0x4
140721330133560
65
6
24
Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

None

# Built in Modules

In [21]:
import math
import time
import os
import random

# math

print(math.pi)
print(math.e)
print(math.factorial(5))
print(math.sqrt(100))

# random

print(random.randint(1,100))

a=[1,3,5,6]
random.shuffle(a)
print(a)

# time

print(time.time())
print(time.ctime())

# os

print(os.getcwd())
print(os.listdir())

3.141592653589793
2.718281828459045
120
10.0
26
[6, 1, 3, 5]
1737569504.9297535
Wed Jan 22 23:11:44 2025
C:\Users\PMLS\Desktop\Python Campus X
['.ipynb_checkpoints', 'Python.ipynb']

# Strings

In [22]:
# String is a sequence of characters

c = "hello"
print(c)
c = '''hello
how are
you'''
print(c)
c = str('hello')
print(c)

hello
hello
how are
you
hello

### Accessing substring from a string

In [23]:
# Accessing

c = "hellowelcome"
print(c[0])
print(c[-1])

# Slicing

print(c[0:4])
print(c[-5:-1])
print(c[:4])
print(c[0:5:2])
# reverse a string
print(c[::-1])

h
e
hell
lcom
hell
hlo
emoclewolleh

### Editing and Deleting

In [24]:
# Strings are a Immutable data type.

# so editing and deleting from  a specific index in string is not possible.

# Deleting

c = 'hello'
del c

### String operations
##### 1-Arithmetic
##### 2-Relatonal
##### 3-Logical
##### 4-Loops
##### 5-Membership

In [25]:
# Arithmetic

print("hello" + "-" + "world")
print("*"*7)
print("hello"*4)

# Relational
print("hello" == "world")
print('hello' != "world")
print('hello' < 'world') # lexiographical

# Loops
c = 'hello world'
for i in c:
    print(i)
for i in c[::-1]:
    print(i)

# Membership
c = 'hello world'
print('h' in c)
print('hello' not in c)

hello-world
*******
hellohellohellohello
False
True
True
h
e
l
l
o

w
o
r
l
d
d
l
r
o
w

o
l
l
e
h
True
False

## String Functions

In [26]:
# Common Functions
# (len, max, min, sorted)

a='kia hal ha'
print(min(a))
print(max(a))
print(len(a))
print(sorted(a))
print(sorted(a,reverse=True))

# other functons that apply only strings
# 1-(Capitalize, Title, Upper, Lower, Swapcase)
c = 'pakistan'
print(c.capitalize())

print("it is raining today".title())

print(c.upper())
print(c.lower())

# change lower to upper and upper to lower
print("LaHorE".swapcase())

l
10
[' ', ' ', 'a', 'a', 'a', 'h', 'h', 'i', 'k', 'l']
['l', 'k', 'i', 'h', 'h', 'a', 'a', 'a', ' ', ' ']
Pakistan
It Is Raining Today
PAKISTAN
pakistan
lAhORe

In [27]:
# 2-(Count, find, endswith/startswith, format, isdigit/is.identifier.. ,split, join, replace, strip)
# count
print('it is raining today'.count('i'))
print('it is raining today'.count('ing'))

# Find
print('it is raining today'.find('i'))
print('it is raining today'.index('rain'))

# Endswith/Startswith
print('it is raining today'.endswith('day'))
print('it is raining today'.startswith('it'))

# Format
print("Hello my name is {} and i am {}".format("doctor",21))
print("Hello my name is {1} and i am {0}".format("doctor",21))
print("Hello my name is {name} and i am {age}".format(name="doctor",age=21))

# isdigit..
print("20A".isdigit())
print("hello_world".isidentifier())

# Split
print("I am the owner of this company".split())
print("I am the owner of this company".split('of'))

# Join
print(" ".join(["I","am","the","owner","of","this","company"]))

# Replace
print("My name is doctor".replace("doctor","Rehman Ali"))

# Strip
name = "     doctor     "
print(name.strip())

4
1
0
6
True
True
Hello my name is doctor and i am 21
Hello my name is 21 and i am doctor
Hello my name is doctor and i am 21
False
True
['I', 'am', 'the', 'owner', 'of', 'this', 'company']
['I am the owner ', ' this company']
I am the owner of this company
My name is Rehman Ali
doctor

# List

In [28]:
# Array = homogenous (aik he data type)  Arrays are much faster
# List = hetrogenous (store values of multiple data types) List are more programmer friendly

# homogenous list
l = [1,2,3,4]
print(l)

# Hetrogenous list
l = [2,True,"hello",3.4]
print(l)

# Multi-Dimensional list
# 2D list
l = [1,2,3,[3,5]]
print(l)

# 3D list
l = [[[1,2],[3,4]],[[5,4],[6,7]]]
print(l)

l = list('hello')
print(l)

[1, 2, 3, 4]
[2, True, 'hello', 3.4]
[1, 2, 3, [3, 5]]
[[[1, 2], [3, 4]], [[5, 4], [6, 7]]]
['h', 'e', 'l', 'l', 'o']

In [29]:
# Access a list
l = [1,2,3]
print(l[0])

# 2d
l1 = [1,2,3,[5,4]]
print(l1[-1][0])
print(l1[3][0])

# 3d
l2 = [[[1,2],[3,4]],[[5,4],[6,7]]]
print(l2[1][1][0])
print(l2[0][-1][-1])

1
5
5
6
4

In [30]:
# Edit a list
# list in python are mutable

l = [1,2,3,4,5]
l[0]=100
l[-1]=500
l[1:4]=[200,300,400]
print(l)

[100, 200, 300, 400, 500]

In [31]:
# Add new items in a list
# 1-Append, 2-Extend, 3-Insert

l=[1,2,3,4,5]
l.append(6)
l.append('hello')
l.extend([7,5])
l.insert(1,'wow')
print(l)

[1, 'wow', 2, 3, 4, 5, 6, 'hello', 7, 5]

In [32]:
# Delete items from list
# 1-del, 2-remove, 3-pop, 4-clear

l=[1, 'wow', 2, 3, 4, 5, 6, 'hello', 7, 5]
del l[0]
print(l)
l.remove('wow')
print(l)
l.pop()
print(l)
l.clear()
print(l)
del l

['wow', 2, 3, 4, 5, 6, 'hello', 7, 5]
[2, 3, 4, 5, 6, 'hello', 7, 5]
[2, 3, 4, 5, 6, 'hello', 7]
[]

In [33]:
# Operations as same like strings (add,multiply,loop)
# Functions are also same like string (len,sorted,max,min,index,title)
# sort for permanent changes

l = [3,5,6,3]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[3, 3, 5, 6]
[6, 5, 3, 3]

In [34]:
# make logics like if we capatlize first chracter

sample = "hello how are you?"
print(sample.split())
L = []
for i in sample.split():
    print(i.capitalize())
    L.append(i.capitalize())

print(L)
print(" ".join(L))
print(type(L))

['hello', 'how', 'are', 'you?']
Hello
How
Are
You?
['Hello', 'How', 'Are', 'You?']
Hello How Are You?
<class 'list'>

In [35]:
email = "rehman@5963"
print(email[:email.find("@")])

L1 = [1,1,2,2,3,3,4,4,4]
L2 = [1,2,3,3]

L3 = []
for i in L1:
    if i not in L3:
        L3.append(i)
print(L3)

rehman
[1, 2, 3, 4]

# Tuple

In [36]:
# homogenous and hetrogenous tuples
# Tuples are immutable

t = (1,2,3)
print(t)
t = (1,2,(3,4))
print(t)

# Single item tuples
t = (4)
print(type(t))
t = ("hello")
print(type(t))
t = ("hello",)
print(type(t))

t1 = tuple("lahore")
print(t1)
t2 = tuple([1,2,3])
print(t2)

# Accessing tuple is same like string or list
# Edit Tuple is same like string immutable
# And you also didn't add anything in tuple
# delete
del(t)
# Opperations (Concatinate,Multiply,loop,Membership) (t+t1, t*3,not in tuple)
# Functions (len,min/max,sorted,sum) 
t3 = (3,6,2,1,3)
print(sorted(t3))
print(sorted(t3,reverse=True))
# Tuples are read only data type

(1, 2, 3)
(1, 2, (3, 4))
<class 'int'>
<class 'str'>
<class 'tuple'>
('l', 'a', 'h', 'o', 'r', 'e')
(1, 2, 3)
[1, 2, 3, 3, 6]
[6, 3, 3, 2, 1]

# Sets

In [37]:
# 1-Sets donot allow duplicates. 2- Sets have no Indexing/Slicing
# 3- Sets donot allow mutable data types  4- Sets itself a mutable data type
# Create a empty set
s = set()
print(type(s))
s = {1,2,3}
print(s)
s2 = {'hello',True,2,4.5}
print(s2)
s3 = {(1,2),1,2}
print(s3)
# Sets have no indexing
# Hashing
# 2d sets are not possible

# edit
print(s)
print(id(s))
l = list(s)
l[0]=100
print(l)
s = set(l)
print(s)
print(id(s))

# add
s.add(7)
print(s)

#delete
s.remove(3)
print(s)
s.pop()
print(s)

# Set operations (loop,membership) (*,+ not available)
# Functons (max,min,sorted,sum,union,intersection,difference,symmetric_difference,isdisjoint,issubset,issuperset)
print(s.union(s2))
print(s.intersection(s2))

<class 'set'>
{1, 2, 3}
{'hello', True, 2, 4.5}
{1, 2, (1, 2)}
{1, 2, 3}
2151970697536
[100, 2, 3]
{2, 3, 100}
2151970699776
{2, 3, 100, 7}
{2, 100, 7}
{100, 7}
{True, 2, 100, 4.5, 7, 'hello'}
set()

# Dictionary

In [38]:
# 1-Dictionary has no indexing  2-Dictionary has mutable data type just like list and sets
# 3-keys should always be immutable, values can be mutable  4-Keys should be unique
# Mutable data types(Sets,List,Dictionary)
# Immutable data types(Strings,tuple,int,float,complex,boolean)

d = {'Name':'doctor','age':21}
print(d)

# 2d
d1 = {"Name":"Doctor","College":"PGC","Marks":{"S1":89,"S2":90}}
print(d1)

# Accessing
print(d['Name'])
print(d1["Marks"]["S2"])
print(d.get('age'))

# Edit
d['Name']='Rehman Ali'
print(d)
d1["Marks"]["S2"]=98
print(d1)

# Add new
d['Gender']='Male'
print(d)
d1["Marks"]["S3"]=88
print(d1)

# Delete 
del d['Gender']
print(d)
d.clear()
print(d)

# operations (loops,membership(keys))
for i in d1:
    print(i,d1[i])

# Functions(min,max,sorted,len,d.keys(),d.values())

{'Name': 'doctor', 'age': 21}
{'Name': 'Doctor', 'College': 'PGC', 'Marks': {'S1': 89, 'S2': 90}}
doctor
90
21
{'Name': 'Rehman Ali', 'age': 21}
{'Name': 'Doctor', 'College': 'PGC', 'Marks': {'S1': 89, 'S2': 98}}
{'Name': 'Rehman Ali', 'age': 21, 'Gender': 'Male'}
{'Name': 'Doctor', 'College': 'PGC', 'Marks': {'S1': 89, 'S2': 98, 'S3': 88}}
{'Name': 'Rehman Ali', 'age': 21}
{}
Name Doctor
College PGC
Marks {'S1': 89, 'S2': 98, 'S3': 88}

# Functions

In [39]:
def is_even(number):
    '''
    This function tells us is given number is even or odd number.
    :param number: Any valid integer number
    :return: even/odd
    Created by: Muhammad Rehman Ali
    Last edit: 20-1-2025
    '''
    if type(number) == int:
        if number%2==0:
            return "Even"
        else:
            return "Odd"
    else:
        return "Not Working"

print(is_even(2))
for i in range(1,11):
    print(is_even(i))
print(is_even('hello'))
print(is_even.__doc__)

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Not Working

    This function tells us is given number is even or odd number.
    :param number: Any valid integer number
    :return: even/odd
    Created by: Muhammad Rehman Ali
    Last edit: 20-1-2025

## Parameters vs Arguments in Function
#### 1. Default Arguments
#### 2. Possitional Arguments
#### 3. Keyword Arguments
#### 4. Arbitrary Arguments

In [40]:
# like if in our funtion we have two parameters e.g (def pow(a,b)) and when we write function name for getting its output like
# pow(3) here we give only one argument so our function crashed so we use "Default Arguments".
# order pow(a,b) , pow(2,3) a=2,b=3 is "Possitional Arguments".

def power(a=1,b=1):
    return a**b
print(power(2,3))
print(power(2))
print(power())

# keyword argument
print(power(b=2,a=3))

8
2
1
9

### Differnt Function Examples for understanding Function

In [41]:
# 1.
def f(y):
    x = 1
    x +=1
    print(x)
x=5
f(x)
print(x)

2
5

In [42]:
# 2.
def fun_a():
    print('inside fun_a')
print(fun_a())

inside fun_a
None

In [43]:
# 3.
# If functions has not its own local variabe than it use a global variable
def g(y):
    print(x)
    print((x+1))

x = 5
g(x)
print(x)

5
6
5

In [44]:
# 4.
# you cannot change global variable from inside function but by this method you can change

def h(y):
    global x
    x+=1
x=5
h(x)
print(x)

6

## Nested Function

In [45]:
# g() in nested functions our main function does not know about inside function (nested function)

def f():
    print("Inside f")
    def g():
        print("Inside g")
    g()

f()

Inside f
Inside g

## In Python every thing is object
## Function is also a object

In [46]:
# so by considering function as object we do these things

def f(num):
    return num**2
    
print(f(2))

# Aliasing as like variable because function is also a object
x=f
print(x(2))

del f
# print(f(3))
print(x(3))

L=[1,2,3,x]
print(L[-1](3))

l1=[1,2,3,x(5)]
print(l1)

4
4
9
9
[1, 2, 3, 25]

In [47]:
# Function as input

def fun_a():
    print('Inside fun_a')
def fun_c(z):
    print('Inside fun_c')
    return z()

print(fun_c(fun_a))

Inside fun_c
Inside fun_a
None

In [48]:
# Function return

def f():
    def x(a,b):
        return a+b
    return x
val = f() (3,4)
print(val)

7

In [49]:
# for like 4*4=16 we build logic like (4+4+4+4)=16.

def multiply (a,b):
    result = 0
    for i in range(b):
        result = result + a
    return result
print(multiply(4,4))

16

# Recursion

In [50]:
# we write above program through recursion in which loop is not used

def multi(a,b):
    if b==1:
        return a
    else:
        return a+multi(a,b-1)
print(multi(3,4))

12

In [51]:
# Factorial using Recursion

def fact(number):
    if number==1:
        return 1
    else:
        #5! = 5*4!
        return number*fact(number-1)
print(fact(5))

120

In [52]:
# Palindrome using Recursion
# palindrome(reverse of string is same as string)

def palin(text):
    if len(text)<=1:
        print("Palindrome")
    else:
        if text[0]==text[-1]:
            palin(text[1:-1])
        else:
            print("Not a Palindrome")
print(palin("madam"))
print(palin("malayalam"))
print(palin("hello"))
print(palin("abba"))

Palindrome
None
Palindrome
None
Not a Palindrome
None
Palindrome
None

In [53]:
# fibonaci (rabit)

def fab(m):
    if m==0 or m==1:
        return 1
    else:
        return fab(m-1) + fab(m-2)
print(fab(12))

233

## Lambda Function

In [54]:
# Dfb lambda and funtion
# 1.lambda fuction has no return value
# 2.lambda function can be written in one line
# 3.lambda function not use for code usability
# 4.No name

# why use lambda function.
# Along with higher order functions(a function which need one more function in input to complete his work / or if a function return another fun)
x = lambda x: x**2
print(x(9))

a=lambda x,y:x+y
print(a(3,3))

b = lambda x: x[0]=='a'
print(b('apple'))

c = lambda x: "Even" if x%2==0 else "odd"
print(c(4))

81
6
True
Even

### Higher order function

In [55]:
# Higher order function
def return_sum(fun,L):
    result = 0
    for i in L:
        if fun(i):
            result = result+i
    return result
L=[11,14,21,23,56,78,45,29,28]

x = lambda x: x%2==0
y = lambda x: x%2!=0
z = lambda x: x%3==0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

176
129
144

### Built in functions of HOF (Map,Reduce,Filter)

In [56]:
# Map (operation on every item)

l = [1,2,3,4,5,6]
print(list(map(lambda x: x*2,l)))

print(list(map(lambda x: x%2==0,l)))

d = [
    {'name':'doctor',
     'age':21},
    {'name':'hamza',
     'age':21},
    {'name':'zain',
     'age':33}]
print(d)
print(list(map(lambda d:d['name'],d)))

[2, 4, 6, 8, 10, 12]
[False, True, False, True, False, True]
[{'name': 'doctor', 'age': 21}, {'name': 'hamza', 'age': 21}, {'name': 'zain', 'age': 33}]
['doctor', 'hamza', 'zain']

In [57]:
# Filter (filter things)

l = [2,4,2,5,8,4,7]
print(list(filter(lambda x:x>4,l)))

fruit = ['apple','mango','bannana','orange']
print(list(filter(lambda fruit:'e' in fruit,fruit)))

[5, 8, 7]
['apple', 'orange']

In [58]:
# Reduce (reduce your list)

import functools
l = [1,2,3,4,5,6,7]
print(functools.reduce(lambda x,y:x+y,l))

l1 = [12,34,23,43,67]
print(functools.reduce(lambda x,y:x if x>y else y,l1))

print(functools.reduce(lambda x,y:x if x<y else y,l1))

28
67
12

# List Comprehension

In [59]:
l = [1,2,3,4,5,6,7]
l1 = [item*2 for item in l]
print(l1)

l2 = [i**2 for i in range(10)]
print(l2)

l3 = [i**2 for i in range(10) if i%2!=0]
print(l3)

fruits = ['apple','orange','mange']
l4 = [fruit for fruit in fruits if fruit[0]=="o"]
print(l4)

[2, 4, 6, 8, 10, 12, 14]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 9, 25, 49, 81]
['orange']

# Dictionary Comprehension

In [60]:
d = {'name':'doctor','age':21,'gender':'male'}
d.items()

d1 = {key:value for key,value in d.items() if len(key)>3}
print(d1)

l = [1,2,3,4,5,6,7]
d2 = {item:item**2 for item in l}
print(d2)

d3 = {item:item**2 for item in l if item%2==0}
print(d3)

{'name': 'doctor', 'gender': 'male'}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{2: 4, 4: 16, 6: 36}

# Iteration, Itrator, Itrable

In [65]:
# Iterator is used in machine , deep learning when you have only 8 gb ram and you classify images you first create numpy array and than you 
# convert it into iterator because iterator only use one time memory at 
# Iteration (sequence of characters, loop to go over a sequence of items)
num = [1,2,3]
for i in num:
    print(i)

# Iterator (An iterator is an object that allows programmars to traverse through a sequence of data without having to store the entire data in 
# (the memory)
l = [x for x in range(1,10)]
for i in l:
    print(i*2)
import sys
print(sys.getsizeof(l)/64)

x = range(1,10)
for i in x:
    print(i*2)
print(sys.getsizeof(x)/64)

1
2
3
2
4
6
8
10
12
14
16
18
2.875
2
4
6
8
10
12
14
16
18
0.75

In [68]:
# Itrable (Itrable is an object which one can iterate over.)
# It generates an iterator when pass to an iter() method.
l = [1,2,3]
print(type(l))

# l is an iterable
print(type(iter(l)))

<class 'list'>
<class 'list_iterator'>

#### Point to remember
##### Every iterator is also an iterable
##### Not all iterables are iterators
#### Trick
##### Every iterable has an iter function
##### Every iterator has both iter and next function

In [71]:
# it is iterable because of 'iter' function in it but not a iterator.

t = [1,2,3]
print(dir(t))

l = [1,2,3]

# l is not a iterator but if
print(dir(iter(l)))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__length_hint__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__']

# Understanding how for loops works

In [72]:
num = [1,2,3]
for i in num:
    print(i)

1
2
3

In [78]:
num = [1,2,3]

# fetch the iterator
iter_num = iter(num)

# step 2: next
next(iter(num))
next(iter(num))
next(iter(num))

1

# Making our own for loop

In [82]:
def mera_khud_ka_for_loop(iterable):

    iterator = iter(iterable)
    while True:
        try:
            print(next(iterator))
        except StopIteration:
            break

a = [1,2,3]
b = range(1,11)
c = (1,2,3)
d = {1,2,3}
e = {0:1,1:1}

print(mera_khud_ka_for_loop(a))
print(mera_khud_ka_for_loop(b))
print(mera_khud_ka_for_loop(c))
print(mera_khud_ka_for_loop(d))

1
2
3
None
1
2
3
4
5
6
7
8
9
10
None
1
2
3
None
1
2
3
None

In [19]:
num = '1234'
print(num)
num = sorted(num, reverse=True)
print(num)
num = ''.join(num)
print(num)
print(type(num))
num = int(num)
print(num)
print(type(num))

num=int(input("Enter the number"))
print(str(num)[::-1])

1234
['4', '3', '2', '1']
4321
<class 'str'>
4321
<class 'int'>

Enter the number 3578

8753

In [18]:
num = input("Enter a three digit number")
l =[]
for i in num:
    l.append(int(i))
print(l)
print(sum(l))

Enter a three digit number 336

[3, 3, 6]
12

In [20]:
num = int(input("Enter a number:"))
if num%2==0:
    print("Even")
else:
    print("odd")

Enter a number: 4

Even

In [21]:
year = int(input("Enter a year"))
if year%4==0:
    print("leap year")
else:
    print("no")

Enter a year 2024

leap year

In [25]:
angle_1 = int(input("Enter angle 1"))
angle_2 = int(input("Enter angle 2"))
angle_3 = int(input("Enter angle 3"))
angle_sum = angle_1+angle_2+angle_3
if angle_sum == 180:
    print("it is a trinagle")
else:
    print("not a triangle")

Enter angle 1 40
Enter angle 2 50
Enter angle 3 90

it is a trinagle

In [27]:
cost_price = int(input("Enter cost price:"))
selling_price = int(input("Enter selling price:"))
if cost_price<selling_price:
    print("profit")
    print(f"profit is:{selling_price-cost_price} rupees.")
else:
    print("loss")
    print(f"loss is:{cost_price-selling_price} rupees.")

Enter cost price: 700
Enter selling price: 477

loss
loss is:223 rupees.